#octopus {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
  top: 100px;
  right: 500px;

  }

#hat {
position: absolute;
margin-right: auto;
	margin-left: auto;
  top: 0px;
  	right:450px;
  	z-index: 1;
}

#glasses {
position: absolute;
margin-right: auto;
	margin-left: auto;
  top: 200px;
  	right:530px;
	z-index: 3;
}